/*  your css code here. If applicable */
body{

	display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
     
}





.container{

	background-color:#ADD8E6;
    border:2px solid black;
	display:inline-block;
	padding:100px;
	color:purple;
    margin-top:20%;
	


	
	
}